    .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    max-width: 555px;
    margin: auto;
  margin-top:15px;
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  
}

.card-title {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}
