* {
        margin: 0;
        padding: 0;
      }

      html, body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 18px;
        color: #000000;
        line-height: 30px;
        background-color: #eeeeee;
      }

      h1 {
        margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: blue;
      }

      h2 {
          width: 100%;
          border: 1px solid #ddd;
          background-color: #eeeeee;
          margin: 0 0 10px 0;
          padding: 10px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }

        h3 {
          margin: 10px 0;
        }

        h4 {
          font-size: 16px;
        }

        p {
          margin-bottom: 10px;
        }

        p:last-child {
          margin-bottom: 0;
        }

      .wrapper {
        width: 100%;
        text-align: center; /* center hack */
        margin: 0;
        padding: 0;
      }

      .container {
        width: 100%;
        max-width: 960px;
        text-align: left;
        margin: 0 auto; /* center hack */
        padding: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .header {
        display: block;
        width: 100%;
        line-height: 40px;
        text-align: center;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 20px 0;
        padding: 20px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
	border-radius: 8px;
	border-bottom-color: blue;
	border-bottom-width: 5px;
      }

      .main {
        word-wrap: break-word;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 8px;
	      box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
      }

      .one-column {
        width: 100%;
        display: block;
        overflow: hidden;
      }

      .footer {
        clear: both;
        display: block;
        width: 100%;
        height: 80px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 20px 0 0 0;
        padding: 20px;
      }

        /* QUIZ CSS */
        /* Tabs */
        .tabs {
          width: 100%;
          background-color: #09F;
          border-radius: 5px 5px 5px 5px;
        }
        ul#tabs-nav {
          list-style: none;
          margin: 0;
          padding: 5px;
          overflow: auto;
        }
        ul#tabs-nav li {
          float: left;
          font-weight: bold;
          margin-right: 2px;
          padding: 8px 10px;
          border-radius: 5px 5px 5px 5px;
          /*border: 1px solid #d5d5de;
          border-bottom: none;*/
          cursor: pointer;
        }
        ul#tabs-nav li:hover,
        ul#tabs-nav li.active {
          background-color: #08E;
        }
        #tabs-nav li a {
          text-decoration: none;
          color: #FFF;
        }
        .tab-content {
          padding: 10px;
          border: 5px solid #09F;
          background-color: #FFF;
        }


        .nav-btn333 {
          padding: 10px 10px;
          border: none;
          background-color: #333;
          color: #fff;
          cursor: pointer;
        }

        .question {
          font-weight: bold;
          margin-bottom: 10px;
        }

        .answer {
          margin-bottom: 5px;
        }

        .results {
          display: none;
          border: 1px solid black;
          padding: 10px;
        }

        .correct {
          color: green;
        }

        .incorrect {
          color: red;
        }

        .truocsau {
          margin-top:30px;
          margin-bottom:10px;
        }
        
      .showketqua {
        padding:20px;
      }
      
      .button333 {
          background-color: blue;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 10px;
      }
	img.logovlv {
	    width: 100px;
	    text-align: left;
	    display: block;
	}
	    
	.copyright {
		text-align: center;
		font-size: 12px;
		color: gray;
	}
	.btn333 {
	  border: 2px solid black;
	  background-color: white;
	  color: black;
	  padding: 15px 15px;
	  font-size: 16px;
	  cursor: pointer;
	  margin-bottom: 10px;
	  border-radius: 10px;
	  
	}

	/* Green */
	.success333 {
	  border-color: #04AA6D;
	  color: green;
	}

	.success333:hover {
	  background-color: #04AA6D;
	  color: white;
	}

	/* Orange */
	.warning333 {
	  border-color: #ff9800;
	  color: orange;
	}

	.warning333:hover {
	  background: #ff9800;
	  color: white;
	}
	
	/* Blue */
	.info333 {
	  border-color: #2196F3;
	  color: dodgerblue;
	}

	.info333:hover {
	  background: #2196F3;
	  color: white;
	}


	/* Red */
	.danger333 {
	  border-color: #f44336;
	  color: red;
	}

	.danger333:hover {
	  background: #f44336;
	  color: white;
	}
	    
	    .logo-button {
		display: flex;
    		justify-content: space-between;
	    }
	    .buttoncenter {
		    text-align:center;
	    }

	.contenthome {
    		padding: 33px;
		text-align:justify;
	}
